<div class="l-footer">
  <p>Footer</p>
  <nav class="l-footer_navi">
    <ul>
      <li><a href="#" class="js-scroll">HOME</a></li>
      <li><a href="#about" class="js-scroll">ABOUT</a></li>
      <li><a href="#works" class="js-scroll">WORKS</a></li>
      <li><a href="#message" class="js-scroll">MESSAGE</a></li>
      <li><a href="#company" class="js-scroll">COMPANY</a></li>
      <li><a href="#contact" class="js-scroll">CONTACT</a></li>
    </ul>
  </nav>
  <p>&copy; 2019 div Inc. All Rights Reserved.</p>
</div>