<div class="l-header">
  <h1 class="l-header_logo"><a href="#" class="js-scroll">Header</a></h1>
  <nav class="l-header_navi">
    <ul>
      <li><a href="#" class="js-scroll">HOME</a></li>
      <li><a href="#about" class="js-scroll">ABOUT</a></li>
      <li><a href="#works" class="js-scroll">WORKS</a></li>
      <li><a href="#message" class="js-scroll">MESSAGE</a></li>
      <li><a href="#company" class="js-scroll">COMPANY</a></li>
      <li><a href="#contact" class="js-scroll">CONTACT</a></li>
    </ul>
  </nav>
</div>