<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>div Inc.</title>
<meta name="description" content="サイトの説明※検索結果にでるやつ">

<!-- OGP SNSなどでシェアされたときに必要な情報 -->
<meta property="og:site_name" content="">
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:description" content="">

<link rel="stylesheet" href="/assets/css/style.css">

