<!DOCTYPE html>
<html lang="ja">
<head>
<%- include('./_include/meta') %>
</head>
<body class="p-top">

<!-- <%- include('./_include/header') %> -->

<section id="about" class="p-top_about">
  <div class="l-inner">
    <h2 class="c-title01">ABOUT</h2>
  </div>
</section>

<section id="works">
  <div class="l-inner">
    <h2 class="c-title01">WORKS</h2>
  </div>
</section>

<section id="message">
  <div class="l-inner">
    <h2 class="c-title01">MESSAGE</h2>
  </div>
</section>

<section id="company">
  <div class="l-inner">
    <h2 class="c-title01">COMPANY</h2>
  </div>
</section>

<section id="contact">
  <div class="l-inner">
    <h2 class="c-title01">CONTACT</h2>
  </div>
</section>

<%- include('./_include/footer') %>

</body>
</html>
